<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dendnight.core.mapper.ImageInfMapper" >
  <resultMap id="BaseResultMap" type="com.dendnight.core.domain.ImageInf" >
    <id column="image_inf_id" property="id" jdbcType="INTEGER" />
    <result column="image_inf_md5" property="md5" jdbcType="VARCHAR" />
    <result column="image_inf_name" property="name" jdbcType="VARCHAR" />
    <result column="image_inf_height" property="height" jdbcType="INTEGER" />
    <result column="image_inf_width" property="width" jdbcType="INTEGER" />
    <result column="image_inf_thumbnail" property="thumbnail" jdbcType="VARCHAR" />
    <result column="image_inf_original" property="original" jdbcType="VARCHAR" />
    <result column="image_inf_path" property="path" jdbcType="VARCHAR" />
    <result column="image_inf_longitude" property="longitude" jdbcType="DOUBLE" />
    <result column="image_inf_latitude" property="latitude" jdbcType="DOUBLE" />
    <result column="image_inf_readme" property="readme" jdbcType="VARCHAR" />
    <result column="image_inf_upload_count" property="uploadCount" jdbcType="INTEGER" />
    <result column="image_inf_camera_model" property="cameraModel" jdbcType="VARCHAR" />
    <result column="image_inf_camera_brand" property="cameraBrand" jdbcType="VARCHAR" />
    <result column="image_inf_lens_brand" property="lensBrand" jdbcType="VARCHAR" />
    <result column="image_inf_date_taken" property="dateTaken" jdbcType="TIMESTAMP" />
    <result column="image_inf_lens_model" property="lensModel" jdbcType="VARCHAR" />
    <result column="image_inf_program_name" property="programName" jdbcType="VARCHAR" />
    <result column="image_inf_created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="image_inf_updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    <result column="image_inf_updated_by" property="updatedBy" jdbcType="INTEGER" />
    <result column="image_inf_deleted" property="deleted" jdbcType="TINYINT" />
    <result column="image_inf_version" property="version" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    image_inf.id as image_inf_id, image_inf.md5 as image_inf_md5, image_inf.name as image_inf_name, 
    image_inf.height as image_inf_height, image_inf.width as image_inf_width, image_inf.thumbnail as image_inf_thumbnail, 
    image_inf.original as image_inf_original, image_inf.path as image_inf_path, image_inf.longitude as image_inf_longitude, 
    image_inf.latitude as image_inf_latitude, image_inf.readme as image_inf_readme, image_inf.upload_count as image_inf_upload_count, 
    image_inf.camera_model as image_inf_camera_model, image_inf.camera_brand as image_inf_camera_brand, 
    image_inf.lens_brand as image_inf_lens_brand, image_inf.date_taken as image_inf_date_taken, 
    image_inf.lens_model as image_inf_lens_model, image_inf.program_name as image_inf_program_name, 
    image_inf.created_time as image_inf_created_time, image_inf.updated_time as image_inf_updated_time, 
    image_inf.updated_by as image_inf_updated_by, image_inf.deleted as image_inf_deleted, 
    image_inf.version as image_inf_version
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from image_inf image_inf
    where image_inf.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from image_inf
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dendnight.core.domain.ImageInf" >
    insert into image_inf (id, md5, name, 
      height, width, thumbnail, 
      original, path, longitude, 
      latitude, readme, upload_count, 
      camera_model, camera_brand, lens_brand, 
      date_taken, lens_model, program_name, 
      created_time, updated_time, updated_by, 
      deleted, version)
    values (#{id,jdbcType=INTEGER}, #{md5,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{height,jdbcType=INTEGER}, #{width,jdbcType=INTEGER}, #{thumbnail,jdbcType=VARCHAR}, 
      #{original,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, #{longitude,jdbcType=DOUBLE}, 
      #{latitude,jdbcType=DOUBLE}, #{readme,jdbcType=VARCHAR}, #{uploadCount,jdbcType=INTEGER}, 
      #{cameraModel,jdbcType=VARCHAR}, #{cameraBrand,jdbcType=VARCHAR}, #{lensBrand,jdbcType=VARCHAR}, 
      #{dateTaken,jdbcType=TIMESTAMP}, #{lensModel,jdbcType=VARCHAR}, #{programName,jdbcType=VARCHAR}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{updatedTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=INTEGER}, 
      #{deleted,jdbcType=TINYINT}, #{version,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.dendnight.core.domain.ImageInf" >
    insert into image_inf
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="md5 != null" >
        md5,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="height != null" >
        height,
      </if>
      <if test="width != null" >
        width,
      </if>
      <if test="thumbnail != null" >
        thumbnail,
      </if>
      <if test="original != null" >
        original,
      </if>
      <if test="path != null" >
        path,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="readme != null" >
        readme,
      </if>
      <if test="uploadCount != null" >
        upload_count,
      </if>
      <if test="cameraModel != null" >
        camera_model,
      </if>
      <if test="cameraBrand != null" >
        camera_brand,
      </if>
      <if test="lensBrand != null" >
        lens_brand,
      </if>
      <if test="dateTaken != null" >
        date_taken,
      </if>
      <if test="lensModel != null" >
        lens_model,
      </if>
      <if test="programName != null" >
        program_name,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
      <if test="updatedBy != null" >
        updated_by,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="version != null" >
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="md5 != null" >
        #{md5,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="height != null" >
        #{height,jdbcType=INTEGER},
      </if>
      <if test="width != null" >
        #{width,jdbcType=INTEGER},
      </if>
      <if test="thumbnail != null" >
        #{thumbnail,jdbcType=VARCHAR},
      </if>
      <if test="original != null" >
        #{original,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="readme != null" >
        #{readme,jdbcType=VARCHAR},
      </if>
      <if test="uploadCount != null" >
        #{uploadCount,jdbcType=INTEGER},
      </if>
      <if test="cameraModel != null" >
        #{cameraModel,jdbcType=VARCHAR},
      </if>
      <if test="cameraBrand != null" >
        #{cameraBrand,jdbcType=VARCHAR},
      </if>
      <if test="lensBrand != null" >
        #{lensBrand,jdbcType=VARCHAR},
      </if>
      <if test="dateTaken != null" >
        #{dateTaken,jdbcType=TIMESTAMP},
      </if>
      <if test="lensModel != null" >
        #{lensModel,jdbcType=VARCHAR},
      </if>
      <if test="programName != null" >
        #{programName,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=INTEGER},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=TINYINT},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dendnight.core.domain.ImageInf" >
    update image_inf
    <set >
      <if test="md5 != null" >
        md5 = #{md5,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="height != null" >
        height = #{height,jdbcType=INTEGER},
      </if>
      <if test="width != null" >
        width = #{width,jdbcType=INTEGER},
      </if>
      <if test="thumbnail != null" >
        thumbnail = #{thumbnail,jdbcType=VARCHAR},
      </if>
      <if test="original != null" >
        original = #{original,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="readme != null" >
        readme = #{readme,jdbcType=VARCHAR},
      </if>
      <if test="uploadCount != null" >
        upload_count = #{uploadCount,jdbcType=INTEGER},
      </if>
      <if test="cameraModel != null" >
        camera_model = #{cameraModel,jdbcType=VARCHAR},
      </if>
      <if test="cameraBrand != null" >
        camera_brand = #{cameraBrand,jdbcType=VARCHAR},
      </if>
      <if test="lensBrand != null" >
        lens_brand = #{lensBrand,jdbcType=VARCHAR},
      </if>
      <if test="dateTaken != null" >
        date_taken = #{dateTaken,jdbcType=TIMESTAMP},
      </if>
      <if test="lensModel != null" >
        lens_model = #{lensModel,jdbcType=VARCHAR},
      </if>
      <if test="programName != null" >
        program_name = #{programName,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=INTEGER},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=TINYINT},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dendnight.core.domain.ImageInf" >
    update image_inf
    set md5 = #{md5,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      height = #{height,jdbcType=INTEGER},
      width = #{width,jdbcType=INTEGER},
      thumbnail = #{thumbnail,jdbcType=VARCHAR},
      original = #{original,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=DOUBLE},
      latitude = #{latitude,jdbcType=DOUBLE},
      readme = #{readme,jdbcType=VARCHAR},
      upload_count = #{uploadCount,jdbcType=INTEGER},
      camera_model = #{cameraModel,jdbcType=VARCHAR},
      camera_brand = #{cameraBrand,jdbcType=VARCHAR},
      lens_brand = #{lensBrand,jdbcType=VARCHAR},
      date_taken = #{dateTaken,jdbcType=TIMESTAMP},
      lens_model = #{lensModel,jdbcType=VARCHAR},
      program_name = #{programName,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=INTEGER},
      deleted = #{deleted,jdbcType=TINYINT},
      version = #{version,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>