<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dendnight.core.mapper.ImageLogMapper" >
  <resultMap id="BaseResultMap" type="com.dendnight.core.domain.ImageLog" >
    <id column="image_log_id" property="id" jdbcType="INTEGER" />
    <result column="image_log_image_id" property="imageId" jdbcType="VARCHAR" />
    <result column="image_log_ip" property="ip" jdbcType="VARCHAR" />
    <result column="image_log_device" property="device" jdbcType="VARCHAR" />
    <result column="image_log_time" property="time" jdbcType="TIMESTAMP" />
    <result column="image_log_browser" property="browser" jdbcType="VARCHAR" />
    <result column="image_log_os" property="os" jdbcType="VARCHAR" />
    <result column="image_log_details" property="details" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    image_log.id as image_log_id, image_log.image_id as image_log_image_id, image_log.ip as image_log_ip, 
    image_log.device as image_log_device, image_log.time as image_log_time, image_log.browser as image_log_browser, 
    image_log.os as image_log_os, image_log.details as image_log_details
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from image_log image_log
    where image_log.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from image_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dendnight.core.domain.ImageLog" useGeneratedKeys="true" keyProperty="id" >
    insert into image_log (image_id, ip, device, 
      time, browser, os, 
      details)
    values (#{imageId,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, #{device,jdbcType=VARCHAR}, 
      #{time,jdbcType=TIMESTAMP}, #{browser,jdbcType=VARCHAR}, #{os,jdbcType=VARCHAR}, 
      #{details,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dendnight.core.domain.ImageLog" useGeneratedKeys="true" keyProperty="id" >
    insert into image_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="imageId != null" >
        image_id,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="device != null" >
        device,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="browser != null" >
        browser,
      </if>
      <if test="os != null" >
        os,
      </if>
      <if test="details != null" >
        details,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="imageId != null" >
        #{imageId,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="device != null" >
        #{device,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="browser != null" >
        #{browser,jdbcType=VARCHAR},
      </if>
      <if test="os != null" >
        #{os,jdbcType=VARCHAR},
      </if>
      <if test="details != null" >
        #{details,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dendnight.core.domain.ImageLog" >
    update image_log
    <set >
      <if test="imageId != null" >
        image_id = #{imageId,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="device != null" >
        device = #{device,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="browser != null" >
        browser = #{browser,jdbcType=VARCHAR},
      </if>
      <if test="os != null" >
        os = #{os,jdbcType=VARCHAR},
      </if>
      <if test="details != null" >
        details = #{details,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dendnight.core.domain.ImageLog" >
    update image_log
    set image_id = #{imageId,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      device = #{device,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      browser = #{browser,jdbcType=VARCHAR},
      os = #{os,jdbcType=VARCHAR},
      details = #{details,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>