@charset "utf-8";

html,body {
	height: 100%;
	margin: 0;
	color: #777;
	font-family: sans-serif;
	background: url(../images/background.png) repeat-x;
}

#layout {
	position: relative;
	margin: 0;
	height: 100%;
}

#main {
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	display: block;
}

#footer {
	margin-top: -60px;
	background: #282828;
	height: 60px;
	margin: 0;
	padding: 0;
}

#header {
	height: 100%;
	width: 96%;
	margin: 0 auto;
	padding: 0.8em 0 1em;
	font-size: 2em;
	color: #fff;
	text-shadow: 1px 1px rgba(0, 0, 0, .3);
}

#container {
	height: auto;
	min-height: 100%;
	width: 96%;
	margin: 0 auto;
	background: #eee;
	padding: 0.8em 0 10em;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
}

#footer div {
	float: right;
	height: 60px;
	line-height: 60px;
}

#latout.active {
	position: relative;
	left: 150px;
}

#layout.active #menu {
	left: 150px;
	width: 150px;
}

#layout.active .menu-link {
	left: 150px;
}



#menu,.menu-link {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
}

#menu {
	margin-left: -150px;
	width: 150px;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 1000;
	background: #191818;
	overflow-y: auto;
	-webkit-varflow-scrolling: touch;
}

#menu a {
	color: #999;
	padding: 1em 0 0.8em 1em;
	position: relative;
	text-decoration: none;
	display: block;
	text-shadow: 1px 1px rgba(0, 0, 0, .3);
}

#menu .menu-heading {
	text-transform: uppercase;
	font-size: 1.2em;
	color: #1f8dd6;
	font-weight: 600;
	text-shadow: 1px 2px 1px rgba(0, 0, 0, .3);
	margin: 0;
	background: #666;
}

#menu .menu>ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu .menu ul {
	border: none;
	background: transparent;
}

#menu .menu ul,.menu-item-divided {
	border-top: 1px solid #333;
}

#menu .menu li a:hover,li a:focus {
	background: #333;
}

#menu .menu-selected {
	background: #1f8dd6;
}

#menu .menu-selected a {
	color: #fff;
}

.menu-link {
	position: fixed;
	display: block;
	top: 5em;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	font-size: 10px;
	z-index: 10;
	width: 2em;
	height: auto;
	padding: 2.1em 1.6em;
}

.menu-link:hover,.menu-link:focus {
	background: rgba(0, 0, 0, 0.5);
}

.menu-link span {
	position: relative;
	display: block;
}

.menu-link span,.menu-link span:before,.menu-link span:after {
	background-color: #fff;
	width: 100%;
	height: 0.2em;
}

.menu-link span:before,.menu-link span:after {
	position: absolute;
	margin-top: -0.6em;
	content: " ";
}

.menu-link span:after {
	margin-top: 0.6em;
}

@media ( min-width :48em) {
	#layout {
		padding-left: 150px;
	}
	#menu {
		left: 150px;
	}
	.menu-link {
		position: fixed;
		left: 150px;
		display: none;
	}
	#layout.active .menu-link {
		left: 100px;
	}
	#header {
		width: 90%;
	}
	#container {
		width: 90%;
	}
}

