@charset "utf-8";

html,body {
	height: 100%;
	margin: 0;
	color: #777;
	font-family: sans-serif;
	background: #eeeeee url(../images/background.png) repeat-x;
}

#layout {
	position: relative;
	margin: 0;
	height: 100%;
}

#main {
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	display: block;
}

#footer {
	margin-top: -60px;
	background: #282828;
	height: 60px;
	margin: 0;
	padding: 0;
}

#header {
	text-transform: uppercase;
	height: 100%;
	width: 96%;
	margin: 0 auto;
	padding: 0.8em 0 1em;
	font-size: 2em;
	color: #fff;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 1), 1px 1px 5px
		rgba(255, 255, 255, .8);
}

#container {
	height: auto;
	min-height: 100%;
	width: 96%;
	margin: 0 auto;
	background: #eee;
	padding: 0.8em 0 10em;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	opacity: 0.2;
}

#footer div {
	float: right;
	height: 60px;
	line-height: 60px;
}

@media ( min-width :48em) {
	#header {
		width: 90%;
	}
	#container {
		width: 90%;
	}
}